div#gallery-wrapper {
    overflow: hidden;
    width: 88%;
    margin: 0 auto 40px;
}

div#gallery-wrapper>.gallery-invisible-item {
    float: left;
    /* display: none; */
    width: 6.25%;
    visibility: hidden;
}

div#gallery-wrapper>img {
    float: left;
    width: 35%;
    border-right:2px solid #f27022;
    border-bottom:2px solid #f27022;
}

div#gallery-wrapper>div#vertical-artists-images-wrapper {
    /* height: 441.36px; */
}

div#gallery-wrapper>div#vertical-artists-images-wrapper>img#gallery-image-3, div#gallery-wrapper>div#vertical-artists-images-wrapper>img#gallery-image-4 {
    height:50%;
}

div#gallery-wrapper>div#vertical-artists-images-wrapper {
    float: left;
    width: calc(17.5% - 2px);
    width: 30%; 
}

div#gallery-wrapper>div#vertical-artists-images-wrapper>img {
    display: block;
    width:100%;
    border-bottom: 2px solid #f27022;
}