header {
    background-color: #121420;
    overflow: hidden;
}

header a {
    text-decoration: none;
    color: inherit;
}

header > * {
    float: left;
}

header > nav {
    float: right;
}

header .header-text {
    font-size: 1.25em;
    color: whitesmoke;
}

header > #logo-wrapper {
    width: 30%;
    height: calc(1.25em + 0px * 2);
    font-size: calc(1.25em + 0px * 2);
    /* padding: 5px 0; */
    background-image:url(../public/logo.svg);
    background-repeat: no-repeat;;
    background-size:contain;
    background-position-y: center;
}

header > nav {
    overflow: hidden;
    width: 70%;
}

header > nav > .nav-item {
    border-right: 1px solid whitesmoke;
    padding: 5px 20px;
    float: right;
}

header > nav > .nav-item.last-nav-item {
    border-right: none;
}

header > nav > .current-page {
    background-color: #B76D68;
}